.section {
  width: 100%;
  height: 100vh;
}

.section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  inset: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 0.88rem;
  left: 0;
  z-index: 1000;
  width: 7.875rem;
  height: 2.25rem;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.imageFadeIn {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.imageFadeOut {
  opacity: 1;
  animation: fadeOut 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

video.media {
  object-fit: cover;
}

div.media {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: -0.08rem;
  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;
}

.title {
  opacity: 0;
  transform: translateY(20px);
}

.title.show {
  animation: fadeUp 0.8s ease forwards;
  will-change: opacity, transform;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title.show {
  letter-spacing: -0.02rem;
  opacity: 1;
  transform: scaleX(1);
}

.count {
  display: inline-block;
  width: 3ch;
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.scrollDown {
  position: fixed;
  top: calc(100vh - 6.94rem);
  left: 50%;
  z-index: 999;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 1rem 2.5rem;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  color: #fff;
  text-align: center;
  letter-spacing: -0.0175rem;
  border-top: 1px solid rgb(255 255 255 / 100%);
  border-bottom: 1px solid rgb(255 255 255 / 38%);
  border-radius: 624999.9375rem;
  box-shadow:
    0 0 20px 0 rgb(0 0 0 / 30%),
    inset 0 0 20px 0 rgb(255 255 255 / 16%);
  transform: translateX(-50%);
}

.scrollDown::after {
  width: 1rem;
  height: 1rem;
  content: '';
  background: url('/src/assets/images/hero/downIco.svg');
}

@media (width <= 1199px) {
  .title {
    font-size: 3.25rem;
  }
}

@media (width <= 640px) {
  .title {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 2.275rem */
    letter-spacing: -0.035rem;
  }

  .scrollDown {
    padding: 0.75rem 1.5rem 0.75rem 2rem;
  }
}
