html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.fp-watermark {
    display: none;
}

.section {
    width: 100%;
    height: 100vh;
    position: relative;
}

@media (max-width: 768px) {
    html,
    body {
        overflow: auto;
    }

    .section {
        height: auto;
        min-height: 100vh;
    }
}
