.Tit {
  max-width: 40rem;
  margin: 0 auto;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 4.2rem */
  color: #1e2939;
  text-align: center;
  letter-spacing: -0.06rem;
  word-break: keep-all;
}

.Tit span {
  color: #2b7fff;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  max-width: 46rem;
  margin: 3rem auto 0;
}

.stats .statItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats .statNumber {
  width: 3ch;
  font-family: Pretendard;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 4.55rem */
  color: #1e2939;
  letter-spacing: -0.07rem;
}

.statNumber::after {
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  vertical-align: 15px;
  color: #1e2939;
  letter-spacing: -0.05rem;
  content: '+';
}

.stats .statLabel {
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.95rem */
  color: #404c5d;
  letter-spacing: -0.03rem;
}

.tagArea {
  width: 100%;
  margin-top: 4.75rem;
  overflow: hidden;
}

.tagContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: max-content;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

.left {
  animation: scrollLeft 200s linear infinite;
}

.right {
  animation: scrollRight 220s linear infinite;
}
.left:hover {
  animation-play-state: paused;
}
.right:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (width <= 1199px) {
  .Tit {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
  }

  .stats .statNumber {
    font-size: 3.25rem;
    font-weight: 700;
    letter-spacing: -0.065rem;
  }

  .statNumber::after {
    font-size: 3rem;
    font-weight: 700;
    vertical-align: 4px;
    letter-spacing: -0.06rem;
  }

  .stats .statLabel {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
  }

  .tagArea {
    margin-top: 2.5rem;
  }

  .tagContainer {
    gap: 1rem;
  }
}

@media (width <= 640px) {
  .section {
    padding: 4rem 0;
  }

  .Tit {
    padding: 0 1.25rem;
    font-size: 1.75rem;
    line-height: 130%; /* 2.275rem */
    letter-spacing: -0.035rem;
  }

  .stats {
    gap: 1.5rem 2.5rem;
    justify-content: center;
    max-width: 20rem;
    margin-top: 1.5rem;
  }

  .tagContainer {
    margin-bottom: 0.25rem;
  }
}
