.privacy {
  width: 100%;
  max-width: 1140px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.list {
  margin: 24px 0 8px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
  color: #333d4b;
  letter-spacing: 0;
}
